@use "abstracts/mixins";
@use "abstracts/variables";
@use "themes/theme_vars" as themeVars;

:host {
    @include mixins.flexbox(column);
    @include mixins.border-standard(variables.$spacing);
    height: 45vh;
    background: themeVars.$color-on-container-tertiary;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;

    .confidence-score {
        @include mixins.flexbox(column, center, center);
        @include mixins.border-standard;
        border-radius: 50%;
        position: absolute;
        width: 3rem;
        height: 3rem;
        font-size: calc(#{variables.$font-size} * 0.9);
        top: variables.$spacing;
        right: variables.$spacing;
        background-color: themeVars.$color-container-primary;
        color: themeVars.$color-on-container-primary;
    }

    img {
        width: 100%;
        max-height: 65%;
        height: 65%;
        aspect-ratio: 4/3;
        object-fit: cover;
        border-top-right-radius: variables.$border-radius;
        border-top-left-radius: variables.$border-radius;
    }

    .plant-info {
        @include mixins.flexbox(column, flex-start, center);
        @include mixins.spacing(padding);
        width: 100%;
        height: 35%;
        min-height: 50px;
        box-sizing: border-box;

        .name {
            font-size: variables.$font-size;
            color: themeVars.$color-on-primary;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;

            &.scientific {
                font-weight: bold;
            }

            &.common {
                font-size: calc(#{variables.$font-size} * 0.8);
            }
        }
    }

    @include mixins.respond-to("medium") {
        flex-direction: row;
        height: 35vh;

        img {
            max-height: 100%;
            height: 100%;
            width: 25vw;
            border-bottom-left-radius: variables.$border-radius;
            border-top-right-radius: 0;
        }

        .plant-info {
            height: 100%;

            .name {
                white-space: wrap;
            }
        }
    }
}
