@use "abstracts/variables";
@use "abstracts/mixins";
@use "themes/theme_vars" as themeVars;
@use "@angular/material" as mat;

:host {
    @include mixins.flexbox(column, center);
    @include mixins.spacing(row-gap);
    @include mixins.spacing(padding);
    @include mixins.container-style;

    @include mixins.respond-to(medium) {
    }

    swiper-container {
        height: 35vh;
        width: 100%;

        swiper-slide {
            @include mixins.flexbox(row, center, center);
            background: unset;
            text-align: center;

            img {
                display: block;
                width: 100%;
                height: 100%;
                aspect-ratio: 4 / 3;
                object-fit: contain;
            }
        }
    }

    mat-divider {
        width: 100%;
    }

    .plant-info-container {
        @include mixins.spacing(padding);
        @include mixins.container-style;
        position: relative;
        width: 100%;

        .plant-info-title {
            @include mixins.flexbox(row, center, space-between);
            @include mixins.spacing(margin-bottom);
        }

        mat-tab-group {
            height: 100%;
        }

        section {
            @include mixins.border-standard(true);
            @include mixins.spacing(padding);
            @include mixins.spacing(margin);

            .title {
                font-size: calc(#{variables.$font-size} * 1.2);
                @include mixins.spacing(margin-bottom);
            }

            > div:not(.title) {
                @include mixins.flexbox(column);
                font-size: variables.$font-size;

                &:not(:last-child) {
                    @include mixins.spacing(margin-bottom);
                }

                span:last-child {
                    font-size: calc(#{variables.$font-size} * 0.9);
                    opacity: 0.8;
                }
            }
        }

        .fab {
            position: absolute;
            @include mixins.spacing(bottom);
            @include mixins.spacing(right);
            z-index: 1000;

            @include mixins.respond-to(medium) {
                @include mixins.spacing(top);
                bottom: unset;
            }
        }
    }
}
