<swiper-container
    effect="cards"
    pagination="true"
    pagination-type="bullets"
    pagination-dynamic-bullets="true"
    pagination-dynamic-main-bullets="3">
    @for (image of plant.images; track image) {
        <swiper-slide lazy="true">
            <img
                class="plant-image"
                [src]="image.url"
                loading="lazy"
                [alt]="image.attribution" />
        </swiper-slide>
    }
</swiper-container>

<mat-divider></mat-divider>

<div class="plant-info-container">
    <div class="plant-info-title">
        <span>
            {{ plant.scientificName }}
        </span>
        <small>{{ plant.commonName }}</small>
    </div>
    <mat-tab-group>
        <mat-tab label="Taxonomy">
            <section>
                <div class="title"><strong>Name</strong></div>
                <div>
                    <span
                        ><i>{{ plant.scientificName }}</i></span
                    >
                    <span>Scientific</span>
                </div>
                <div>
                    <span
                        ><i>{{ plant.commonName }}</i></span
                    >
                    <span>Common</span>
                </div>
                <div>
                    <span
                        ><i>{{ plant.genus }}</i></span
                    >
                    <span>Genus</span>
                </div>
                <div>
                    <span
                        ><i>{{ plant.family }}</i></span
                    >
                    <span>Family</span>
                </div>
            </section>
        </mat-tab>
        <mat-tab label="Info">
            <section></section>
        </mat-tab>
        <mat-tab label="Care">
            <section></section>
        </mat-tab>
    </mat-tab-group>

    <!-- <button
        mat-fab
        class="fab"
        title="Add Watering Schedule"
        alt="Add Watering Schedule"
        (click)="onWateringScheduleClick()">
        <mat-icon>water_drop</mat-icon>
    </button> -->
</div>

<ng-template
    #field
    let-name="name"
    let-data="data">
    <div>
        <strong>{{ name | titlecase }}: </strong> {{ data }}
    </div>
</ng-template>
