<div [class.details-displayed]="isDetailsDisplayed">
    <ng-container [ngTemplateOutlet]="swiperContainers" />
    <div class="plant-info-container">
        <ng-container [ngTemplateOutlet]="title" />
        <ng-container [ngTemplateOutlet]="matTabs" />
    </div>
</div>

<!--Carousel template-->
<ng-template #swiperContainers>
    <div class="carousel-wrapper">
        <swiper-container thumbs-swiper=".thumbs">
            @for (image of plant.images; track image) {
                <swiper-slide
                    lazy="true"
                    class="main-slide">
                    <img
                        class="plant-image"
                        [src]="image.url"
                        loading="lazy"
                        [alt]="image.attribution" />
                </swiper-slide>
            }
        </swiper-container>
        <swiper-container
            class="thumbs"
            free-mode="true"
            slides-per-view="3.5"
            watch-slides-progress="true">
            @for (image of plant.images; track image) {
                <swiper-slide lazy="true">
                    <img
                        [src]="image.url"
                        loading="lazy"
                        [alt]="image.attribution" />
                </swiper-slide>
            }
        </swiper-container>
    </div>
</ng-template>

<!--Field template-->
<ng-template
    #field
    let-label="label"
    let-data="data">
    <section>
        <div>
            <span>{{ label | titlecase }}</span>
            <span>{{ data }}</span>
        </div>
        <ng-content select="content"></ng-content>
    </section>
</ng-template>

<!--Mat tabs template-->
<ng-template #matTabs>
    <mat-tab-group [preserveContent]="true">
        <mat-tab label="Taxonomy">
            <ng-template matTabContent>
                <app-plant-details-section
                    [data]="plant.scientificName"
                    label="scientific name">
                    <mat-icon fontIcon="genetics" />
                </app-plant-details-section>
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.commonName, label: 'common name' }" />
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.genus, label: 'genus' }" />
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.family, label: 'family' }" />
            </ng-template>
        </mat-tab>
        <mat-tab label="Characteristics">
            <ng-template matTabContent>
                <app-plant-details-section
                    label="biome"
                    [data]="plant.biome">
                    <mat-icon fontIcon="public" />
                </app-plant-details-section>
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.cycle, label: 'cycle' }" />
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.description, label: 'description' }" />
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{
                        data: plant.width.value + plant.width.unit + ' x ' + plant.height.value + plant.height.unit,
                        label: 'size',
                    }" />
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.layer, label: 'layer' }" />
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: getAnatomicalParts(), label: 'anatomy (parts)' }" />
            </ng-template>
        </mat-tab>
        <mat-tab label="Water">
            <ng-template matTabContent>
                <app-plant-details-section
                    [data]="plant.waterRequirement.toString()"
                    label="requirement">
                    <div class="requirement-container water">
                        @for (level of [0, 1, 2, 3, 4]; track level) {
                            <mat-icon
                                [class.filled]="level <= waterRequirementLevel"
                                fontIcon="water_drop" />
                        }
                    </div>
                </app-plant-details-section>
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.wateringPeriods, label: 'periods' }" />
                <div class="chart-container">
                    <app-line-chart
                        [results]="waterConsumptionResults"
                        [legend]="false"
                        [tooltipDisabled]="true"
                        yAxisLabel="mL"
                        [xAxisTickFormatting]="xAxisTickFormatter" />
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Light">
            <ng-template matTabContent>
                <app-plant-details-section
                    [data]="plant.lightRequirement.toString()"
                    label="requirement">
                    <div class="requirement-container light">
                        @for (level of [0, 1, 2, 3, 4]; track level) {
                            <mat-icon [class.filled]="level <= lightRequirementLevel">brightness_7</mat-icon>
                        }
                    </div>
                </app-plant-details-section>
                <div class="chart-container">
                    <app-line-chart
                        [results]="lightResults"
                        [legend]="false"
                        [tooltipDisabled]="true" />
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Care">
            <ng-template matTabContent>
                <app-plant-details-section
                    [data]="plant.careRequirement.toString()"
                    label="requirement">
                    <div class="requirement-container care">
                        @for (level of [0, 1, 2, 3, 4]; track level) {
                            <mat-icon
                                [class.filled]="level <= careRequirementLevel"
                                fontIcon="eco" />
                        }
                    </div>
                </app-plant-details-section>
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{
                        data: plant.hardinessZone.min + ' - ' + plant.hardinessZone.max,
                        label: 'hardiness zone',
                    }" />
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.soilType, label: 'soil type' }" />
            </ng-template>
        </mat-tab>
        <mat-tab label="Edibility">
            <ng-template matTabContent>
                <app-plant-details-section
                    [data]="plant.edibility.edible ? 'Yes' : 'No'"
                    label="edible">
                    <mat-icon fontIcon="flatware" />
                </app-plant-details-section>
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.edibility.parts, label: 'edible parts' }" />
            </ng-template>
        </mat-tab>
        <mat-tab label="Toxicity">
            <ng-template matTabContent>
                <app-plant-details-section
                    [data]="plant.toxicity.toxic ? 'Yes' : 'No'"
                    label="toxic">
                    <mat-icon fontIcon="skull" />
                </app-plant-details-section>
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.toxicity.parts, label: 'parts' }" />
                <ng-container
                    [ngTemplateOutlet]="field"
                    [ngTemplateOutletContext]="{ data: plant.toxicity.organisms, label: 'toxic to' }" />
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</ng-template>

<!--Title template-->
<ng-template #title>
    <div class="plant-title">
        <span
            ><strong>{{ plant.scientificName }}</strong></span
        >
        <span
            ><small>({{ plant.commonName }})</small></span
        >
        <button
            mat-icon-button
            (click)="isDetailsDisplayed = !isDetailsDisplayed"
            [matTooltip]="isDetailsDisplayed ? 'Images' : 'Details'">
            <mat-icon>{{ isDetailsDisplayed ? "view_carousel" : "info" }}</mat-icon>
        </button>
    </div>
</ng-template>
