<mat-dialog-content>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ plant.name }} ({{ plant.type }})</mat-card-title>
        </mat-card-header>
        <img
            mat-card-image
            [src]="plant.image.url" />
        <mat-card-content>
            <div class="plant-info">
                <span>Description: {{ plant.description }}</span>
                <span>Scientific Name: {{ plant.scientificName }}</span>
                <span>Common Name(s): {{ plant.commonName }}</span>
                <span>Family: {{ plant.family }}</span>
                <span>Genus: {{ plant.genus }}</span>
                <span>Species: {{ plant.species }}</span>
                <span>Edible: {{ plant.edibility.edible }}</span>
                @if (plant.edibility.edible) {
                    <span>Parts: {{ plant.edibility.parts }}</span>
                }
                <span>Toxic: {{ plant.toxicity.toxic }}</span>
                @if (plant.toxicity.toxic) {
                    <span>Organism: {{ plant.toxicity.organisms }}</span>
                    <span>Parts: {{ plant.toxicity.parts }}</span>
                }
                <span>Growth: {{ plant.growth }}</span>
                <span>Light: {{ plant.lightRequirement }}</span>
                <span>Water: {{ plant.waterRequirement }}</span>
                <span>Hardiness Zone: {{ plant.usdaHardinessZone }}</span>
                <span>Layer: {{ plant.layer }}</span>
                <span>Soil: {{ plant.soilType }}</span>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
