@use "abstracts/variables";
@use "abstracts/mixins";
@use "@angular/material" as mat;
@use "themes/_theme_vars" as vars;

:host {
    @include mixins.flexbox(column, center, space-evenly);
    @include mixins.spacing(column-gap, 2);
    @include mixins.spacing(padding, 2);
    @include mixins.container-style(auto);
    position: relative;

    @include mixins.respond-to("medium") {
        flex-direction: row;
        overflow-y: unset;
    }

    app-plant-id-results,
    app-plant-id-search-results {
        width: 100%;

        @include mixins.respond-to("medium") {
            @include mixins.container-style(auto);
        }
    }

    > div {
        @include mixins.flexbox(column, center);
        @include mixins.spacing(row-gap, 2);
    }

    mat-form-field {
        @include mixins.spacing(margin-bottom, 3);
    }

    .image-preview-container {
        @include mixins.spacing(margin-bottom, 2);
        position: relative;

        button {
            position: absolute;
            @include mixins.spacing(top, 0.5);
            @include mixins.spacing(right, 0.5);
        }

        img {
            width: 15rem;
            @include mixins.border-standard(true);
        }
    }

    input {
        display: none;
    }
}
