<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Plant ID</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (!selectedFiles.length) {
            <div
                class="file-drop-area"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)">
                <p>Drag & drop image(s)</p>
            </div>
        }
        @if (imagePreviews.length) {
            <div class="image-preview-container">
                @for (imagePreview of imagePreviews; track imagePreview) {
                    <img
                        [src]="imagePreview"
                        alt="Image Preview" />
                }
            </div>
        }
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-stroked-button
            (click)="onClearClick()">
            Clear
        </button>
    </mat-card-actions>
</mat-card>
@if (isLoading) {
    <mat-progress-bar mode="buffer"></mat-progress-bar>
}
<div class="results-container">
    <div
        class="plant-id-results-container"
        [class.open]="!isLoading">
        @for (plantID of plantIDs; track plantID) {
            <div class="plant-id-result">
                <span (click)="onSpeciesClick(plantID.species!)">{{
                    plantID.species?.scientificNameWithoutAuthor
                }}</span>
                <div class="score">
                    <span>{{ getScorePercent(plantID.score) }}%</span>
                </div>
                <span>{{ plantID.species?.family?.scientificName }} ({{ plantID.species?.commonNames }})</span>
                @if (plantID.images && plantID.images[0] != null) {
                    <div class="result-images">
                        @for (image of plantID.images.slice(0, 3); track image) {
                            <img [src]="image.url" />
                        }
                    </div>
                }
            </div>
        }
    </div>
    <div
        class="plant-info-results-container"
        [class.open]="!isLoading">
        @for (plant of plants; track plant) {
            <div class="plant-info">
                <span>{{ plant.name }} ({{ plant.id }})</span>
                <span>{{ plant.description }}</span>
                <span>{{ plant.scientificName }}</span>
                <span>{{ plant.type }}</span>
                <span>{{ plant.growth }}</span>
                <span>{{ plant.layer }}</span>
                <span>{{ plant.lightRequirement }}</span>
                <span>{{ plant.waterRequirement }}</span>
                <span>{{ plant.usdaHardinessZone }}</span>
                @for (plantData of plant.data; track plantData) {
                    <span>{{ plantData.key }}: {{ plantData.value }}</span>
                }
            </div>
        }
    </div>
</div>
