<div>
    <button
        mat-stroked-button
        color="primary"
        (click)="fileInput.click()">
        Select Image
    </button>
    <button
        mat-stroked-button
        color="accent"
        (click)="onTakePhoto()">
        Take Photo
    </button>

    <input
        #fileInput
        type="file"
        accept="image/*"
        hidden
        (change)="onFileSelected($event)" />

    <!-- Search -->
    <mat-form-field
        appearance="outline"
        class="search-field">
        <mat-label>Search</mat-label>
        <button
            mat-icon-button
            matSuffix
            (click)="onSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <input
            matInput
            placeholder="Tulip"
            [(ngModel)]="searchQuery"
            (input)="onSearch()" />
        <mat-hint>Search by common name or species</mat-hint>
    </mat-form-field>

    <!-- Preview -->
    @if (selectedImage) {
        <div class="image-preview-container">
            <button
                mat-mini-fab
                (click)="onRemoveClick()">
                <mat-icon>close</mat-icon>
            </button>
            <img
                [src]="selectedImage"
                alt="Preview" />
        </div>
    }
</div>
@if (plantIDs.length) {
    <app-plant-id-results
        [results]="plantIDs"
        (plantIDClick)="onPlantIDClick($event)" />
}
@if (plantIDSearchResults.length) {
    <app-plant-id-search-results [results]="plantIDSearchResults" />
}
