<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Plant ID</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (!selectedFiles.length) {
            <div
                class="file-drop-area"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)">
                <p>Drag & drop image(s)</p>
            </div>
        }
        @if (imagePreviews.length) {
            <div class="image-preview-container">
                @for (imagePreview of imagePreviews; track imagePreview) {
                    <img
                        [src]="imagePreview"
                        alt="Image Preview" />
                }
            </div>
        }
    </mat-card-content>
</mat-card>

<!-- Add a search input field -->
<mat-form-field
    appearance="outline"
    class="search-field">
    <mat-label>Search for a plant</mat-label>
    <button
        mat-icon-button
        matSuffix
        (click)="onSearch()">
        <mat-icon>search</mat-icon>
    </button>
    <input
        matInput
        placeholder="Enter plant name"
        [(ngModel)]="searchQuery"
        (input)="onSearch()" />
</mat-form-field>

@if (isLoading) {
    <mat-progress-bar mode="buffer"></mat-progress-bar>
} @else if (plantIDs.length) {
    <app-plant-id-results
        [plantIDs]="plantIDs"
        class="plant-id-results-container"
        [class.open]="!isLoading"
        (plantIDClick)="onPlantIDClick($event)" />
}
