@use "abstracts/variables";
@use "abstracts/mixins";

$calculated-spacing: calc(variables.$spacing * 2);

:host {
    @extend %display-flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    mat-card {
        width: 33vw;
        margin-bottom: $calculated-spacing;
    }

    img {
        max-width: 150px;
        max-height: 150px;
    }

    .file-drop-area {
        border: 2px dashed #ccc;
        border-radius: variables.$border-radius;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        margin: variables.$spacing 0;

        &:hover {
            background-color: #f9f9f9;
        }

        input {
            display: none;
        }
    }

    .plant-id-results-container {
        @extend %display-flex;
        flex-direction: column;
        overflow: auto;
        padding: $calculated-spacing;

        .plant-id-result {
            @extend %display-flex;
        }
    }
}
