<mat-menu #menu="matMenu">
    <ng-template
        matMenuContent
        let-task="task">
        @if (!task.isCompleted) {
            <button
                mat-menu-item
                (click)="onCompleteClick(task)">
                Complete
            </button>
            <button
                mat-menu-item
                (click)="onEditClick(task)">
                Edit
            </button>
        }
        <button
            mat-menu-item
            (click)="onDeleteClick(task)">
            Delete
        </button>
    </ng-template>
</mat-menu>

<div class="task-list-container">
    @for (task of data; track $index) {
        <div>
            <div>
                <div [class.completed]="task.isCompleted">
                    <span
                        class="status-indicator"
                        [class.high]="task.priorityLevel === priorityLevelEnum.High"
                        [class.medium]="task.priorityLevel === priorityLevelEnum.Medium"></span>
                    <strong>{{ task.description }}</strong>
                </div>
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ task: task }">
                    <mat-icon fontIcon="more_vert" />
                </button>
            </div>
            <small>Created: {{ task.createdOn | date: "short" }}</small>
            @if (task.updatedOn) {
                <small>Updated: {{ task.updatedOn | date: "short" }}</small>
            }
            @if (task.url) {
                <a
                    [href]="task.url"
                    target="_blank"
                    >View Details</a
                >
            }
            @if (task.isCompleted) {
                <small>Completed: {{ task.completedOn | date: "short" }}</small>
            }
        </div>
        <mat-divider></mat-divider>
    } @empty {
        No tasks found
    }
</div>

<div class="button-row">
    <button
        class="add"
        mat-fab
        (click)="onAddClick()">
        <mat-icon fontIcon="list_alt_add" />
    </button>
</div>
