<div>
    <h2>Create User</h2>
    <form
        [formGroup]="formGroup"
        (submit)="onSubmit()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                matInput
                type="text"
                [formControl]="emailControl" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input
                matInput
                type="text"
                [formControl]="nameControl" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                matInput
                type="password"
                [formControl]="passwordControl" />
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
                matInput
                type="password"
                [formControl]="confirmPasswordControl" />
        </mat-form-field>
        <div>     
            <button
                mat-stroked-button
                type="submit">
                Sign Up
            </button>
        </div>
        <div class="login-link">
            <span>
                    Have a user already? 
            </span>
            <a (click)="backToLogin()">Login!</a>
        </div>
    </form>
    
    <!--KEF TODO: do some sort of rate-limiting/captcha stuff here to prevent brute force-->
    <mat-divider></mat-divider>
</div>
