// Border
$border-width: 1px;
$border-radius: 4px;

%border-standard {
    border-width: $border-width;
    border-style: solid;
    box-sizing: border-box;
}

%border-standard-rounded {
    @extend %border-standard;
    border-radius: $border-radius;
}

// Display
%display-flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox; // For IE10
    display: -moz-flex; // For Firefox 19-
    display: -o-flex; // For Opera 12.1
}

// Margin/Padding
$spacing: 8px;
