<div>
    <h2>Login</h2>
    <form
        [formGroup]="formGroup"
        (submit)="onSubmit()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                matInput
                type="text"
                [formControl]="emailControl" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                matInput
                type="password"
                [formControl]="passwordControl" />
        </mat-form-field>
        <div>
            <button
                mat-stroked-button
                (click)="onSignUp()">
                Sign Up
            </button>
            <button
                mat-stroked-button
                type="submit">
                Login
            </button>
        </div>
    </form>
    <!--KEF TODO: do some sort of rate-limiting/captcha stuff here to prevent brute force-->
    <mat-divider></mat-divider>
    <!-- Don't look at me! I'm hideous! -->
    <div id="g_id_signin"></div>
</div>
