<mat-toolbar>
    <button
        mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <div class="sidenav-list">
            <a
                mat-button
                routerLink="/dashboard"
                (click)="sidenav.close()"
                >Dashboard</a
            >
            <a
                mat-button
                routerLink="/plantID"
                >Plant ID</a
            >
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>
