<mat-toolbar>
    @if (isLoggedIn$ | async) {
        <button
            mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon fontIcon="menu" />
        </button>
    }
    <span>{{ title }}</span>
    @if (isLoggedIn$ | async) {
        <span class="username"
            >Hello, {{ userName }}
            @if (isAdmin) {
                <mat-icon
                    aria-hidden="false"
                    fontIcon="supervisor_account" />
            } @else {
                <mat-icon
                    aria-hidden="false"
                    fontIcon="person" />
            }
        </span>
    }
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <div class="sidenav-list">
            <a
                mat-button
                routerLink="/dashboard"
                (click)="sidenav.close()"
                >Dashboard</a
            >
            <a
                mat-button
                routerLink="/reminders"
                (click)="sidenav.close()"
                >Reminders</a
            >
            <a
                mat-button
                routerLink="/plantID"
                (click)="sidenav.close()"
                >Plant ID</a
            >
            <a
                mat-button
                routerLink="/about"
                (click)="sidenav.close()"
                >About</a
            >
            @if ((isLoggedIn$ | async) === false) {
                <a
                    mat-button
                    routerLink="/login"
                    (click)="sidenav.close()"
                    >Login</a
                >
            } @else {
                <a
                    mat-button
                    (click)="logout(); sidenav.close()"
                    >Logout</a
                >
            }
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        @if (isLoading) {
            <div class="progress-container">
                <mat-progress-spinner mode="indeterminate" />
            </div>
        }
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>
