<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input
            matInput
            type="text"
            formControlName="description"
            placeholder="Make appointment" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Notes</mat-label>
        <input
            matInput
            type="textarea"
            formControlName="notes"
            placeholder="Notes" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priorityLevel">
            <mat-option [value]="1">Low</mat-option>
            <mat-option [value]="2">Medium</mat-option>
            <mat-option [value]="3">High</mat-option>
        </mat-select>
    </mat-form-field>
    <button
        mat-stroked-button
        type="submit">
        Submit
    </button>
</form>
