@use "abstracts/mixins";
@use "abstracts/variables";
@use "themes/theme_vars" as themeVars;

:host {
    @include mixins.flexbox(column);
    @include mixins.container-style(auto);
    position: relative;

    button.add {
        position: fixed;
        @include mixins.spacing(bottom, 2);
        @include mixins.spacing(right, 2);
    }

    mat-divider {
        width: 100%;
    }

    .reminder-container {
        @include mixins.flexbox(row, center, space-between);
        @include mixins.border-standard($bottom: 1px);
        box-sizing: border-box;
        width: 100%;

        .data {
            @include mixins.flexbox(row, center);
            @include mixins.spacing(column-gap);
            height: 100%;

            &.complete span {
                text-decoration: line-through;
                opacity: 0.8;
            }

            .status-container {
                @include mixins.flexbox(row, center);
                @include mixins.spacing(padding, 1);
                background-color: themeVars.$color-primary;
                color: themeVars.$color-on-primary;
                box-sizing: border-box;
                height: inherit;

                &.medium {
                    background-color: themeVars.$color-warn;
                }

                &.high {
                    background-color: themeVars.$color-system-error;
                }
            }
        }
    }
}
