@for (reminder of reminders$ | async; track $index) {
    <div class="reminder-container">
        <div
            class="data"
            [class.complete]="reminder.isCompleted">
            <div
                class="status-container"
                [class.high]="reminder.priorityLevel === priorityLevelEnum.High"
                [class.medium]="reminder.priorityLevel === priorityLevelEnum.Medium"
                [class.complete]="reminder.isCompleted"
                matTooltip="{{ reminder.isCompleted ? 'Completed: ' + (reminder.completedOn | date) : 'Incomplete' }}">
                <mat-icon [fontIcon]="reminder.isCompleted ? 'task_alt' : 'circle'" />
            </div>
            <strong
                ><span>{{ reminder.description }}</span></strong
            >
        </div>
        <button mat-icon-button>
            <mat-icon
                fontIcon="more_vert"
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{ reminder: reminder }" />
        </button>
    </div>
} @empty {
    <span>No reminders</span>
}
<button
    class="add"
    mat-fab
    (click)="onAddClick()">
    <mat-icon fontIcon="add_task" />
</button>

<mat-menu #menu="matMenu">
    <ng-template
        matMenuContent
        let-reminder="reminder">
        @if (!reminder.isCompleted) {
            <button
                mat-menu-item
                (click)="onEditClick(reminder)">
                Edit
            </button>
            <button
                mat-menu-item
                (click)="onCompleteClick(reminder.id)">
                Complete
            </button>
        }
        <button
            mat-menu-item
            (click)="onDeleteClick(reminder.id)">
            Delete
        </button>
    </ng-template>
</mat-menu>
