@for (reminder of reminders$ | async; track $index) {
    <div class="reminder-container">
        <div
            class="data"
            [class.complete]="reminder.isCompleted">
            <div
                class="status-container"
                [class.high]="reminder.priorityLevel === priorityLevelEnum.High"
                [class.medium]="reminder.priorityLevel === priorityLevelEnum.Medium"
                [class.complete]="reminder.isCompleted"
                matTooltip="{{ reminder.isCompleted ? 'Completed: ' + (reminder.completedOn | date) : 'Incomplete' }}">
                <mat-icon [fontIcon]="reminder.isCompleted ? 'task_alt' : 'circle'" />
            </div>
            <strong>{{ reminder.title }}</strong>
        </div>
        <div>
            <button mat-icon-button>
                <mat-icon
                    [matBadge]="reminder.items.length"
                    matTooltip="Items"
                    fontIcon="list_alt"
                    [matMenuTriggerFor]="itemMenu"
                    [matMenuTriggerData]="{ reminder: reminder }"
                    aria-hidden="false" />
            </button>
            <button mat-icon-button>
                <mat-icon
                    [matBadge]="reminder.incompleteTasksCount"
                    matTooltip="Tasks"
                    fontIcon="list_alt_check"
                    [matMenuTriggerFor]="taskMenu"
                    [matMenuTriggerData]="{ reminder: reminder }"
                    aria-hidden="false" />
            </button>
            <button mat-icon-button>
                <mat-icon
                    matTooltip="Actions"
                    fontIcon="more_vert"
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ reminder: reminder }" />
            </button>
        </div>
    </div>
} @empty {
    <span>No reminders</span>
}
<button
    class="add"
    mat-fab
    (click)="onAddClick()">
    <mat-icon fontIcon="add" />
</button>

<mat-menu #menu="matMenu">
    <ng-template
        matMenuContent
        let-reminder="reminder">
        @if (!reminder.isCompleted) {
            <button
                mat-menu-item
                (click)="onEditClick(reminder)">
                Edit
            </button>
            <button
                mat-menu-item
                (click)="onCompleteClick(reminder.id)">
                Complete
            </button>
        }
        <button
            mat-menu-item
            (click)="onDeleteClick(reminder.id)">
            Delete
        </button>
    </ng-template>
</mat-menu>

<mat-menu #itemMenu="matMenu">
    <ng-template
        matMenuContent
        let-reminder="reminder">
        <button
            mat-menu-item
            (click)="onAddItemClick(reminder)">
            Add item
        </button>
        <button
            mat-menu-item
            (click)="onViewItemsClick(reminder)">
            View items
        </button>
    </ng-template>
</mat-menu>

<mat-menu #taskMenu="matMenu">
    <ng-template
        matMenuContent
        let-reminder="reminder">
        <button
            mat-menu-item
            (click)="onAddTaskClick(reminder)">
            Add task
        </button>
        <button
            mat-menu-item
            (click)="onViewTasksClick(reminder)">
            View tasks
        </button>
    </ng-template>
</mat-menu>
