<mat-menu #menu="matMenu">
    <ng-template
        matMenuContent
        let-item="item">
        <button
            mat-menu-item
            (click)="onEditClick(item)">
            Edit
        </button>
        <button
            mat-menu-item
            (click)="onDeleteClick(item)">
            Delete
        </button>
    </ng-template>
</mat-menu>

<div class="item-list-container">
    @for (item of data; track $index) {
        <div>
            <div>
                <strong>{{ item.description }}</strong>
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ item: item }">
                    <mat-icon fontIcon="more_vert" />
                </button>
            </div>
            <small>Created: {{ item.createdOn | date: "short" }}</small>
            @if (item.updatedOn) {
                <small>Updated: {{ item.updatedOn | date: "short" }}</small>
            }
            @if (item.url) {
                <a
                    [href]="item.url"
                    target="_blank"
                    >View Details</a
                >
            }
        </div>
        <mat-divider></mat-divider>
    } @empty {
        No items found
    }
</div>

<div class="button-row">
    <button
        class="add"
        mat-fab
        (click)="onAddClick()">
        <mat-icon fontIcon="list_alt_add" />
    </button>
</div>
