@use "abstracts/mixins";
@use "abstracts/variables";

:host {
    width: 100%;
    height: calc(100% - 75px);
    overflow-y: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
    min-height: 100px;

    > div {
        @include mixins.flexbox(row, center, space-between);
        width: 100%;
    }
    mat-divider {
        width: 100%;
    }
}
