$spacing: 8px;

:host {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the dashboard takes full height of its parent */
    padding: $spacing calc($spacing * 4); /* Add padding around the dashboard */
}